*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

.logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation {
    position: relative;
}

.navigation-items {
    display: flex;

}

.navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
.navigation-items a::before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.navigation-items a:hover::before{
    width: 100%;
    background: #03bcf4;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    background-color: transparent;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}


section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(11, 95, 95);
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgb(1, 30, 30, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #ffffff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.3s ease;
}

.home .content a:hover{
    color: #fff;
    background: #1680AC;
    box-shadow: 0 0 20px 0px #56ccffb3;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
    color: rgb(55, 238, 238);
}
.home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.slider-navigation .nav-btn.active{
    background: #1680AC;
}

.img-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.deeplearn{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.tlt{
    font-size: 36px;
    font-weight: 600;
}

.para{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.deeplearn-col{
    flex-basis: 31%;
    background: rgba(11, 95, 95);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.deeplearn-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}


.deeplearn_2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.portfolio-container {
    display: flex;
    gap: 20px;
    perspective: 1000px;
  }

  .portfolio-card {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
  }

  /* Flip card on hover */
  .portfolio-card:hover {
    transform: rotateY(180deg);
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  .front {
    background: rgb(11, 95, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }

  .front img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .front h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .front p {
    margin: 10px 0 0;
    font-size: 1rem;
  }

  .back {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
    text-align: center;
    padding: 20px;
  }

  .back h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .back p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .back a {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background:rgb(16, 126, 126);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }

  .back a:hover {
    background: rgba(11, 95, 95);
  }

  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab{
    color: rgba(11, 95, 95);
    margin: 0 13px;
    cursor: pointer;
    padding: 4px;
}

.fa-heart{
    color:  rgba(11, 95, 95);
}

.main{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0,0.50),rgba(0, 0, 0,0.50)),url(background.gif);
    background-size: cover;
    background-position: center;
    transition: .3s ease;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}
.about_home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home_content{
    max-width:500px;
}
.home_content h3{
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home_content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home_content h3 span{
    color: aqua;
}

.home_content h1{
    font-size: 36px ;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;    
}
.home_content h2{
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.About{
    max-width: 800px;
    background-color: transparent;
    margin-bottom: 5%;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    animation: show .5s ease forwards;
    animation-delay: 1s;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center ;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideTop .1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.social-media a:hover{
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}



.con{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    animation: show .5s ease forwards;
    animation-delay: 2s;
}

.con-us{
    width: 80%;
    margin: auto;
    text-align: center;
    color:rgba(255, 255, 255, 0.773);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    opacity: 0;
    animation: show .5s ease forwards;
    animation-delay: 3s;
}


/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.image-generator {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color:rgba(11, 95, 95);
  background-size: cover;
  background-position: center;
}

.image-generator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #121212;
}

.image-generator .content {
  position: relative;
  color: #fff;
  padding: 0 15px;
  max-width: 760px;
  text-align: center;
}

.image-generator h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.image-generator p {
  margin-top: 10px;
  font-size: 1.35rem;
}

.image-generator .generate-form {
  height: 56px;
  padding: 6px;
  display: flex;
  margin-bottom: 15px;
  background: #fff;
  align-items: center;
  border-radius: 30px;
  margin-top: 45px;
  justify-content: space-between;
}

.generate-form .prompt-input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 17px;
  border: none;
  background: none;
  font-size: 1rem;
  border-radius: 30px;
}

.generate-form .controls {
  display: flex;
  height: 100%;
  gap: 15px;
}

.generate-form .img-quantity {
  outline: none;
  border: none;
  height: 44px;
  background: none;
  font-size: 1rem;
}

.generate-form .generate-btn {
  font-size: 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  height: 100%;
  padding: 0 25px;
  border-radius: 30px;
  background: rgba(11, 95, 95);
}

.generate-form .generate-btn[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.generate-form button:hover {
  background: rgb(22, 165, 165);
}

.image-gallery {
  display: flex;
  gap: 15px;
  padding: 0 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  max-width: 1250px;
}

.image-gallery .img-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 285px;
}

.image-gallery .img-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-gallery .img-card.loading img {
  width: 80px;
  height: 80px;
}

.image-gallery .img-card .download-btn {
  bottom: 15px;
  right: 15px;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}

.image-gallery .img-card .download-btn img {
  width: 14px;
  height: 14px;
}

.image-gallery .img-card:not(.loading):hover .download-btn {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 760px) {
  .image-generator {
    height: 45vh;
    padding-top: 30px;
    align-items: flex-start;
  }

  .image-generator h1 {
    font-size: 1.8rem;
  }

  .image-generator p {
    font-size: 1rem;
  }

  .image-generator .generate-form {
    margin-top: 30px;
    height: 52px;
    display: block;
  }

  .generate-form .controls {
    height: 40px;
    margin-top: 15px;
    justify-content: end;
    align-items: center;
  }

  .generate-form .generate-btn[disabled] {
    opacity: 1;
  }

  .generate-form .img-quantity {
    color: #fff;
  }

  .generate-form .img-quantity option {
    color: #000;
  }

  .image-gallery {
    margin-top: 20px;
  }

  .image-gallery .img-card:not(.loading) .download-btn {
    opacity: 1;
    pointer-events: auto;
  }
}

@media screen and (max-width: 500px) {
  .image-gallery .img-card {
    width: 100%;
  }
}




/* Style the scrollbar container */
::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey background */
    border-radius: 8px; /* Optional: rounded corners */
}

/* Style the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);; /* Darker grey */
    border-radius: 8px; /* Optional: rounded corners */
}

/* Style the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); /* Darker grey when hovered */
}

/* Style the scrollbar corner (where both scrollbars meet) */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}



@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
